- extends "base.haml"
- block content
  .panel-group
    - for course in courses
      .panel.panel-default
          .panel-heading
            .row
              .col-xs-1{'style': 'font-size: 50px'}
                %i.glyphicon.glyphicon-education.glyphicon-large
              .col-xs-7
                %h4=
                    %a{'href': '#course-#{course.id}-content', 'data-toggle': 'collapse', 'data-id': '#course-#{course.id}-content'}
                        %i.glyphicon.glyphicon-chevron-down{'style': 'font-size: 0.7em'}
                        #{course.name}
                #{course.kind.title} - Faculty #{course.faculty}
                %br
                #{course.credits} credits - #{course.vub_id}
                %a.label.label-primary{'href': '{% url "course_ics" course.pk %}'}
                  %i.glyphicon.glyphicon-calendar
                  iCal
              .col-xs-4
                %h4 Next course
                %i.glyphicon.glyphicon-time
                %span.daymoment= course.next_schedule.start_time_str
                %br
                %span.moment= course.next_schedule.start_time_str
                %i.glyphicon.glyphicon-chevron-right
                %span.shortmoment= course.next_schedule.end_time_str
        .collapse.panel-collapse{'id': 'course-#{course.id}-content'}
          %ul.list-group.panel-body
            - for sched in course.upcoming_schedules
              %li.list-group-item
                .row
                  .col-md-6
                    %i.glyphicon.glyphicon-time
                    %span.daymoment= sched.start_time_str
                    %span.moment= sched.start_time_str
                    %i.glyphicon.glyphicon-chevron-right
                    %span.moment= sched.end_time_str
                  .col-md-3
                    %i.glyphicon.glyphicon-blackboard
                    = sched.location
                  .col-md-3
                    %i.glyphicon.glyphicon-user
                    = sched.professor
          .panel-footer
            .label.label-danger
              #{course.err_count} missing dates
