- extends "base.haml"
- block content
  .panel-group
    - for course in courses
      .panel.panel-default
        %a{'href': '#course-#{course.id}-content', 'data-toggle': 'collapse', 'data-id': '#course-#{course.id}-content'}
          .panel-heading
            .row
              .col-xs-8
                %h3= course.name
                %h4 #{course.kind} - Faculty #{course.faculty}
              .col-xs-4
                %h4 Next course
                #{course.next_schedule.start_time} - #{course.next_schedule.location}
                %br
                %a.label.label-primary{'href': '{% url "course_ics" course.pk %}'}
                  %i.glyphicon.glyphicon-calendar
                  Course iCal
        .collapse.panel-collapse{'id': 'course-#{course.id}-content'}
          %ul.list-group.panel-body
            - for sched in course.schedules
              %li.list-group-item
                = sched.start_time
                to
                = sched.end_time
                at
                = sched.location
          .panel-footer
            .label.label-danger
              #{course.err_count} missing dates
